.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.neutral {
  color: orange;
}

.resetButton {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(255, 94, 94);
}

.resetIcon {
  color: white;
}

.box-selection {
  font-size: 0.875rem;
  color: gray;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: rgb(107, 107, 107);
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
