<div class="row mx-4 px-2 pt-2 pb-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div id="chartPrice" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div id="chartMarketCap" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div id="chartVolume" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
</div>