.sidenav-container {
    height: 100vh;
  }
  mat-sidenav {
    width: 200px !important;
  }


  .sidebar {
    width: 250px;
    background-color: #dee2e6 ;
  }
  mat-nav-list a {
    color: white;
  }